In [1]:
# In this activity, you are tasked with creating a Python script for analyzing the financial records of your company. You will be provided with a financial dataset in this file: 
#[budget_data.csv](PyBank/Resources/budget_data.csv). This dataset is composed of two columns, Date and Profit/Losses. 
#(Thankfully, your company has rather lax standards for accounting, so the records are simple.)

# Your task is to create a Python script that analyzes the records to calculate each of the following:

# * The total number of months included in the dataset.

# * The net total amount of Profit/Losses over the entire period.

# * The average of the changes in Profit/Losses over the entire period.

# * The greatest increase in profits (date and amount) over the entire period.
# 
# * The greatest decrease in losses (date and amount) over the entire period.

# Your resulting analysis should look similar to the following:

# Your resulting analysis should look similar to the following:
# Financial Analysis
# ----------------------------
# Total Months: 86
# Total: $38382578
# Average  Change: $-2315.12
# Greatest Increase in Profits: Feb-2012 ($1926159)
# Greatest Decrease in Profits: Sep-2013 ($-2196167)
# Your final script should print the analysis to the terminal and export a text file with the results.bud

In [3]:
import pandas as pd
from pathlib import Path

In [4]:
pwd

'C:\\Users\\eprie\\OneDrive\\Documents\\FinTech Coding Class\\python-homework\\PyBank'

In [35]:
file_path = Path("../PyBank/budget_data.csv")

In [36]:
pwd

'C:\\Users\\eprie\\OneDrive\\Documents\\FinTech Coding Class\\python-homework\\PyBank'

In [64]:
budget_date = pd.read_csv(file_path)

In [65]:
budget_date.head(10)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503
5  Jun-2010         522857
6  Jul-2010        1033096
7  Aug-2010         604885
8  Sep-2010        -216386
9  Oct-2010         477532

In [66]:
budget_date.head(-10)

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
71  Dec-2015         778237
72  Jan-2016         650000
73  Feb-2016       -1100387
74  Mar-2016        -174946
75  Apr-2016         757143

[76 rows x 2 columns]

In [67]:
budget_date.describe()

       Profit/Losses
count   8.600000e+01
mean    4.463090e+05
std     5.363579e+05
min    -1.196225e+06
25%     1.821620e+05
50%     5.703280e+05
75%     7.952262e+05
max     1.170593e+06

In [68]:
budget_date.count()

Date             86
Profit/Losses    86
dtype: int64

In [69]:
budget_date.isnull()

     Date  Profit/Losses
0   False          False
1   False          False
2   False          False
3   False          False
4   False          False
..    ...            ...
81  False          False
82  False          False
83  False          False
84  False          False
85  False          False

[86 rows x 2 columns]

In [70]:
budget_date.isnull().sum()

Date             0
Profit/Losses    0
dtype: int64

In [71]:
budget_date.duplicated().sum()

0

In [72]:
budget_date["Date"].count()

86

In [73]:
print(f"Total Months: {budget_date['Date'].count()}")

Total Months: 86

In [74]:
budget_date["Profit/Losses"].sum()

38382578

In [75]:
print(f"Total: ${budget_date['Profit/Losses'].sum()}")

Total: $38382578

In [76]:
# * The average of the changes in Profit/Losses over the entire period.
Average_Total = budget_date["Profit/Losses"].mean()

In [91]:
budget_date_change = (budget_date["Profit/Losses"] - budget_date["Profit/Losses"].shift(1))
average_profit_total = budget_date_change/(budget_date["Profit/Losses"].count()-1)
fmt_ave_profit_total = round(average_profit_total.sum(),2)
round(average_profit_total.sum(),2)

-2315.12

In [92]:
print(f"Average Change: ${fmt_ave_profit_total}")

Average Change: $-2315.12

In [93]:
budget_date_change.head()

0         NaN
1    116771.0
2   -662642.0
3   -391430.0
4    379920.0
Name: Profit/Losses, dtype: float64

In [94]:
budget_date_change.max()

1926159.0

In [95]:
budget_date_change.min()

-2196167.0

In [96]:
#Need to append a header to the new data on the first row. Then I need the daily change column added to the initial data frame. 
#From there I can utlize min/max function while filtering on the new daily change column.

budget_date_change_col = ["Index","Daily_Profit_Change"]
budget_date_change.columns = budget_date_change_col
budget_date_change.head()

0         NaN
1    116771.0
2   -662642.0
3   -391430.0
4    379920.0
Name: Profit/Losses, dtype: float64