In [1]:
# In this activity, you are tasked with creating a Python script for analyzing the financial records of your company. You will be provided with a financial dataset in this file: 
#[budget_data.csv](PyBank/Resources/budget_data.csv). This dataset is composed of two columns, Date and Profit/Losses. 
#(Thankfully, your company has rather lax standards for accounting, so the records are simple.)

# Your task is to create a Python script that analyzes the records to calculate each of the following:

# * The total number of months included in the dataset.

# * The net total amount of Profit/Losses over the entire period.

# * The average of the changes in Profit/Losses over the entire period.

# * The greatest increase in profits (date and amount) over the entire period.
# 
# * The greatest decrease in losses (date and amount) over the entire period.

# Your resulting analysis should look similar to the following:

# Your resulting analysis should look similar to the following:
# Financial Analysis
# ----------------------------
# Total Months: 86
# Total: $38382578
# Average  Change: $-2315.12
# Greatest Increase in Profits: Feb-2012 ($1926159)
# Greatest Decrease in Profits: Sep-2013 ($-2196167)
# Your final script should print the analysis to the terminal and export a text file with the results.bud

In [2]:
#Importing Pandas library and shortcutting to pd
# Importing the function Path from the pathlib library

import pandas as pd
from pathlib import Path

In [4]:
pwd

'C:\\Users\\eprie\\OneDrive\\Documents\\FinTech Coding Class\\python-homework\\PyBank'

In [3]:
#Adding Relative Path to data
file_path = Path("../PyBank/budget_data.csv")

In [36]:
pwd

'C:\\Users\\eprie\\OneDrive\\Documents\\FinTech Coding Class\\python-homework\\PyBank'

In [4]:
# setting path to read to function
budget_date = pd.read_csv(file_path)

In [5]:
# listing first 10 items to view data structure
budget_date.head(10)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503
5  Jun-2010         522857
6  Jul-2010        1033096
7  Aug-2010         604885
8  Sep-2010        -216386
9  Oct-2010         477532

In [6]:
#viewing last items to further see how data is structured
budget_date.head(-10)

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
71  Dec-2015         778237
72  Jan-2016         650000
73  Feb-2016       -1100387
74  Mar-2016        -174946
75  Apr-2016         757143

[76 rows x 2 columns]

In [7]:
budget_date.describe()

       Profit/Losses
count   8.600000e+01
mean    4.463090e+05
std     5.363579e+05
min    -1.196225e+06
25%     1.821620e+05
50%     5.703280e+05
75%     7.952262e+05
max     1.170593e+06

In [8]:
budget_date.count()

Date             86
Profit/Losses    86
dtype: int64

In [9]:
#Seeing if nulls exist
budget_date.isnull()

     Date  Profit/Losses
0   False          False
1   False          False
2   False          False
3   False          False
4   False          False
..    ...            ...
81  False          False
82  False          False
83  False          False
84  False          False
85  False          False

[86 rows x 2 columns]

In [10]:
#checking if nulls exist without having to look at the data
budget_date.isnull().sum()

Date             0
Profit/Losses    0
dtype: int64

In [11]:
#checking for duplicated rows
budget_date.duplicated().sum()

0

In [12]:
#calculating # of profit/loss days
budget_date["Date"].count()

86

In [13]:
#printing Total Months result
print(f"Total Months: {budget_date['Date'].count()}")

Total Months: 86

In [14]:
#calculating total profit and loss
budget_date["Profit/Losses"].sum()

38382578

In [15]:
#printing total profit and loss
print(f"Total: ${budget_date['Profit/Losses'].sum()}")

Total: $38382578

In [16]:
# * The averageProfit/Losses over the entire period.
Average_Total = budget_date["Profit/Losses"].mean()

In [17]:
# Calulating the daily change in profits. Then taking the average of the daily change in profits. Then formatting for the final result.

budget_date_change = (budget_date["Profit/Losses"] - budget_date["Profit/Losses"].shift(1))
average_profit_total = budget_date_change/(budget_date["Profit/Losses"].count()-1)
fmt_ave_profit_total = round(average_profit_total.sum(),2)
round(average_profit_total.sum(),2)

-2315.12

In [18]:
#printing the average daily profit change result with $ format
print(f"Average Change: ${fmt_ave_profit_total}")

Average Change: $-2315.12

In [19]:
#printing 
budget_date_change.head()

0         NaN
1    116771.0
2   -662642.0
3   -391430.0
4    379920.0
Name: Profit/Losses, dtype: float64

In [20]:
#quick check to see what max and min should be
budget_date_change.max()

1926159.0

In [21]:
budget_date_change.min()

-2196167.0

In [22]:
# Adding profit change column to budget_date to bring up date when calculating minimum and maximum. Pull dataframe to check if new column is added correctly.
budget_date["Profit_Change"] = (budget_date["Profit/Losses"] - budget_date["Profit/Losses"].shift(1))
budget_date.head()

       Date  Profit/Losses  Profit_Change
0  Jan-2010         867884            NaN
1  Feb-2010         984655       116771.0
2  Mar-2010         322013      -662642.0
3  Apr-2010         -69417      -391430.0
4  May-2010         310503       379920.0

In [41]:
#min and max functions using loc function to locate date when greatest increase and decrease occured
budget_date['Profit_Change'].max()
budget_date.set_index(budget_date['Profit_Change'], inplace=True)
print(f"Greatest increase in profits: {budget_date.loc[budget_date['Profit_Change'].max()]}")

Greatest increase in profits: Date              Feb-2012
Profit/Losses      1170593
Profit_Change    1926159.0
Name: 1926159.0, dtype: object

In [42]:
budget_date['Profit_Change'].min()
print(f"Greatest decrease in profits: {budget_date.loc[budget_date['Profit_Change'].min()]}")

Greatest decrease in profits: Date              Sep-2013
Profit/Losses     -1196225
Profit_Change   -2196167.0
Name: -2196167.0, dtype: object

In [47]:

###Printing to text. Import sys and following taken from web. https://stackabuse.com/writing-to-a-file-with-pythons-print-function/

# Touch command line isn't working within Jupyter Notebook...but the below command still creates a new text with print results
# touch FinancialAnalysis.txt

import sys

print(f"Total Months: {budget_date['Date'].count()}")
print(f"Total: ${budget_date['Profit/Losses'].sum()}")
print(f"Average Change: ${fmt_ave_profit_total}")
print(f"Greatest increase in profits: {budget_date.loc[budget_date['Profit_Change'].max()]}")
print(f"Greatest decrease in profits: {budget_date.loc[budget_date['Profit_Change'].min()]}")

original_stdout = sys.stdout # Save a reference to the original standard output

with open('FinancialAnalysis.txt', 'w') as f:
    sys.stdout = f # Change the standard output to the file we created.
    print(f"Total Months: {budget_date['Date'].count()}")
    print(f"Total: ${budget_date['Profit/Losses'].sum()}")
    print(f"Average Change: ${fmt_ave_profit_total}") 
    print(f"Greatest increase in profits: {budget_date.loc[budget_date['Profit_Change'].max()]}")
    print(f"Greatest decrease in profits: {budget_date.loc[budget_date['Profit_Change'].min()]}")
    sys.stdout = original_stdout # Reset the standard output to its original value

Total Months: 86
Total: $38382578
Average Change: $-2315.12
Greatest increase in profits: Date              Feb-2012
Profit/Losses      1170593
Profit_Change    1926159.0
Name: 1926159.0, dtype: object
Greatest decrease in profits: Date              Sep-2013
Profit/Losses     -1196225
Profit_Change   -2196167.0
Name: -2196167.0, dtype: object